{% extends "emails/base.html" %}
{% load i18n %}


{% block content %}
{% blocktrans trimmed with user=user %}
{{ user }}, Вы получили это письмо, так как вы зарегистрировались студентом
в школе неНумерологии Ольги Перцевой.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed %}
Для оплаты обучения, проверки статуса оплаты, либо внесения оплаты, вы можете
перейти по следующей ссылке:
{% endblocktrans %}
<br>
<br>
<a href="">{% trans "Проверить оплату или оплатить" %}</a>
<br>
{% endblock content %}
