{% extends "emails/base.html" %}
{% load i18n %}


{% block content %}
{% blocktrans trimmed with user=user %}

{{ user_name }}, Вам был осуществлен возврат средств в размере {{ amount }} рублей за оплату обучения на {{ flow_num }} потоке в школе неНумерологии Ольги Перцевой {{ flow_name }}.

{% endblocktrans %}
<br>

<br>
{% blocktrans trimmed %}
Если у Вас остались вопросы или есть сложности, пожалуйста, свяжитесь с нашим администратором в WhatsApp, Viber, Telegram.
<a href="tel:+79856984225">+79856984225</a>
{% endblocktrans %}

{% endblock content %}
