{% extends "emails/base.html" %}
{% load i18n %}




{% block content %}
{% blocktrans trimmed with user=user %}
{{ user_name }}, этим письмом мы подтверждаем, что Вы зачислены на {{ flow_num }} поток
обучения в школе неНумерологии Ольги Перцевой {{ flow_name }}.

На данный момент Вы оплатили {{ amount }} рублей. Стоимость обучения составляет {{ price}} рублей.
Напоминаем, что оплата за курс принимается до {{ recr_end }} 00 часов 00 минут.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed %}
Чтобы оплатить обучение или проверить статус оплаты, перейдите по следующей ссылке:
{% endblocktrans %}
<br>
<br>
<a href="{{ url_pay }}">{% trans "Проверить оплату или оплатить" %}</a>
<br>

<br>
{% blocktrans trimmed %}
Если у Вас остались вопросы, есть сложности с оплатой или не получается
принять участие в этом потоке обучения, свяжитесь с нашим администратором в WhatsApp, Viber или Telegram.
<a href="tel:+79856984225">+79856984225</a>
{% endblocktrans %}

{% endblock content %}
