{% extends "emails/base.html" %}
{% load i18n %}



{% block content %}
{% blocktrans trimmed with user=user %}
{{ user_name }}, подтверждаем полную оплату обучения на {{ flow_num }} потоке школы неНумерологии Ольги Перцевой {{ flow_name }}.
 <br>
{% endblocktrans %}

Благодарим Вас!
<br>

{% blocktrans trimmed %}
Если у Вас остались вопросы, есть сложности с оплатой или не получается
принять участие в этом потоке обучения, свяжитесь с нашим администратором в WhatsApp, Viber или Telegram.

<a href="tel:+79856984225">+79856984225</a>
<a href="https://t.me/annakarpova14">Telegramm</a>
{% endblocktrans %}

{% endblock content %}
