{% extends "emails/base.html" %}
{% load i18n %}


{% block content %}
{% blocktrans trimmed with user=user %}
{{ user_name }}, Вы полностью оплатили обучение на {{ flow_num }} потоке
обучения, {{ flow_name }}, в школе неНумерологии Ольги Перцевой.
 <br>
{% endblocktrans %}

Благодарим Вас за полную оплату обучения.
<br>

{% blocktrans trimmed %}
Если у Вас остались вопросы, технические сложности с оплатой или у Вас не получается
принять участие в этом потоке обучения, свяжитесь с нашим администратором.
Для связи вы можете использовать мессанджеры WhatsApp, Viber, Telegram.
<a href="tel:+79687432507">+79687432507</a>
{% endblocktrans %}

{% endblock content %}
