{% extends "emails/base.html" %}
{% load i18n %}


{% block content %}
{% blocktrans trimmed with user=user %}
{{ user_name }}, Вы получили это письмо, так как Вы зачислены на {{ flow_num }} поток
обучения, {{ flow_name }}, в школе неНумерологии Ольги Перцевой. На данный моменту
Вы внесли предоплату в {{ amount }} рублей. Стоимость обучения составляет {{ price}} рублей.
Пожалуйста внесите оплату недостающей суммы до {{ recr_end }} 00 часов 00 минут.
При отсутствии оплаты до указанного срока, мы вынуждены будем перенести Ваше обучение
на следующий поток обучения.
{% endblocktrans %}
<br>
<br>
{% blocktrans trimmed %}
Для оплаты обучения, проверки статуса оплаты, либо внесения оплаты, вы можете
перейти по следующей ссылке:
{% endblocktrans %}
<br>
<br>
<a href="{{ url_pay }}">{% trans "Проверить оплату или оплатить" %}</a>
<br>

<br>
{% blocktrans trimmed %}
Если у Вас остались вопросы, вы можете уточнить их у менеджера нашей школы.
Для связи вы можете использовать мессанджеры WhatsApp, Viber, Telegram.
{% endblocktrans %}

{% endblock content %}
