@import 'slick.css';

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box}
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;-moz-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

.animate,
input,
button,
textarea,
select,
a,
.btn{
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

html,
body{
    height: 100%;
    font-size: 16px;
}

body{
    background: #fff;
    font-style: normal;
    font-weight: normal;
    line-height: 1.3;
    font-family: 'Montserrat', Arial, Tahoma, sans-serif;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a      {color: inherit;text-decoration: none;cursor: pointer;}
a:hover{text-decoration: underline;}

h1,
h2,
h3,
h4,
h5,
h6,
.title{
    margin-top: 0;
    display: block;
    font-style: normal;
    font-weight: bold;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    position: relative;
}

h1{
    margin-bottom: 4rem;
}
h2{
    margin-bottom: 4rem;
}

h3{
    margin-bottom: 3rem;
}

h4{
    margin-bottom: 2rem;
}

h5{
    margin-bottom: 1rem;
}

h6{
    margin-bottom: 1rem;
}

h1,
.title--size_1{
    font-size: 60px;
}

h2,
.title--size_2{
    font-size: 36px;
}

h3,
.title--size_3{
    font-size: 30px;
}

h4,
.title--size_4{
    font-size: 24px;
}

h5,
.title--size_5{
    font-size: 20px;
}

h6,
.title--size_6{
    font-size: 18px;
    text-transform: uppercase;
}

.tt-up{
    text-transform: uppercase;
}

.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}

form{
    display: block;
}

input,
button,
select,
textarea{
    font-weight: bold;
    font-family: 'Montserrat', Myriad Pro, Tahoma, sans-serif;
}

input,
button{
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

::-webkit-input-placeholder {color: rgba(255,255,255,.5);}
::-moz-placeholder          {color: rgba(255,255,255,.5);}
:-moz-placeholder           {color: rgba(255,255,255,.5);}
:-ms-input-placeholder      {color: rgba(255,255,255,.5);}

/* components
=====================*/

#site{
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.color--accent{color: #FF7C77;}
.color--muted{color: #F2F2F2;}
.fs--83_percent{font-size: 83%;}

.nav{
    display: block;
}

.nav__list{
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
}

.nav__item{
    margin: 0 0 0 41px;
    padding: 0;
}

.nav__link{
    padding: 5px 0;
    display: block;
    line-height: normal;
    position: relative;
}

.nav__link:hover{
    text-decoration: none;
}

.nav__link:after{
    background: #FF7C77;
    width: 100%;
    height: 1px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform-origin: left bottom;
       -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
         -o-transform-origin: left bottom;
            transform-origin: left bottom;
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    -moz-transition: transform .4s ease, -moz-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease, -moz-transform .4s ease, -o-transform .4s ease;
}

.nav__link:not(:hover):after{
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
         -o-transform: scaleX(0);
            transform: scaleX(0);
}

.btn{
    background: #FF7C77;
    padding: 15px 25px;
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    font-family: 'Montserrat', Myriad Pro, Tahoma, sans-serif;
    color: #fff;
    text-align: center;
    border: none;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    outline: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
}

.btn:hover{
    background: #000;
    text-decoration: none;
    -webkit-box-shadow: 0 0 12px 2px rgba(0,0,0,.4);
       -moz-box-shadow: 0 0 12px 2px rgba(0,0,0,.4);
            box-shadow: 0 0 12px 2px rgba(0,0,0,.4);
}

.section-list{
    display: block;
}

.section-list .section:after{
    position: absolute;
    top: 45%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    z-index: -1;
}

.section-list .section:nth-child(odd):after{
    right: 0;
}

.section-list .section:nth-child(even):after{
    left: 0;
}

.section{
    padding: 120px 0;
    position: relative;
    z-index: 1;
}

.section--theme_gray{
    background: #F2F2F2;
}

.section--theme_white{
    background: #fff;
}

.section--theme_gray_offset:before{
    background: #F2F2F2;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 10.417vw;
    z-index: -1;
}

.section-nav{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #FF7C77;
    text-align: center;
    position: absolute;
    top: 90px;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    z-index: 1;
}

.section-nav--position_right{
    margin-right: 10.417vw;
    right: 0;
}

.section-nav--position_left{
    margin-right: -12.188vw;
    right: 100%;
}

.section-nav:before{
    background: #FF7C77;
    width: 220px;
    height: 1px;
    margin: 4px 15px 0 0;
    content: '';
}

.section-title{
    line-height: 1.35;
}

.section__container{
    position: relative;
}

.d-block-line{
    position: relative;
}

.d-block-line:before,
.d-block-line:after{
    width: 100%;
    height: 50%;
    content: '';
    border: solid #FF7C77;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.d-block-line:before{
    top: 10px;
    left: 10px;
    border-width: 3px 3px 0 0;
}

.d-block-line:after{
    right: -10px;
    bottom: -10px;
    border-width: 0 0 3px 3px;
}

.d-block-line:hover:before,
.d-block-line:hover:after{
    height: 100%;
}

.slick-dots{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    text-align: center;
}

.slick-dots li{
    background: rgba(0,0,0,.1);
    width: 10px;
    height: 10px;
    margin: 10px;
    padding: 0;
    display: inline-block;
    border: none;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    cursor: pointer;
    vertical-align: top;
    position: relative;
}

.slick-dots li:hover{
    background: rgba(255,0,0,.6);
}

.slick-dots li.slick-active{
    background: #FF7C77;
    pointer-events: none;
    cursor: default;
}

.slick-dots li:after{
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
         -o-transform: scale(2);
            transform: scale(2);
}

.slick-dots li button{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-border-radius: inherit;
       -moz-border-radius: inherit;
            border-radius: inherit;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
}

.price-ob{
    display: table;
    text-align: center;
}

.price-stage{
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
}

.intro__price{
    visibility: visible;
}

.process__price{
    width: 66%;
}

.step__price{
    width: 100%;
}

/* header
=====================*/

.header{
    width: 100%;
    padding: 50px 0;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    z-index: 1001;
}

.header.is-fixed{
    background: #fff;
    padding: 20px 0;
    -webkit-box-shadow: 0 1px #F2F2F2;
       -moz-box-shadow: 0 1px #F2F2F2;
            box-shadow: 0 1px #F2F2F2;
}

.header__container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.header__logo:hover{
    text-decoration: none;
}

.header__logo-img{
    width: 143px;
    height: auto;
}

.header__logo:after{
    background: #000;
    width: 66px;
    height: 1px;
    margin-left: 30px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.header__logo:hover:after{
    background: #FF7C77;
}

.header__toggle{
    background: transparent;
    width: 50px;
    height: 50px;
    margin: -10px -10px -10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.header__toggle-line{
    background: #000;
    width: 30px;
    height: 1px;
    margin-left: -15px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.header__toggle-line:nth-child(1){
    -webkit-transform: translateY(-9px);
       -moz-transform: translateY(-9px);
        -ms-transform: translateY(-9px);
         -o-transform: translateY(-9px);
            transform: translateY(-9px);
}

.header__toggle-line:nth-child(2){
    overflow: visible;
}

.header__toggle-line:nth-child(3){
    -webkit-transform: translateY(9px);
       -moz-transform: translateY(9px);
        -ms-transform: translateY(9px);
         -o-transform: translateY(9px);
            transform: translateY(9px);
}

.header__toggle.is-active .header__toggle-line:nth-child(1){
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.header__toggle.is-active .header__toggle-line:nth-child(2){
    -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
         -o-transform: translateX(100%);
            transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
}

.header__toggle.is-active .header__toggle-line:nth-child(3){
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* intro
=====================*/

.intro{
    background: url(../images/intro-bg--desktop.svg) center top #fff no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    position: relative;
    z-index: 0;
}

.intro__line-list{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
}

.intro__line{
    background: rgba(255,0,0,0.1);
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
}

.intro__line--1{left: -640px;}
.intro__line--2{left: -320px;}
.intro__line--3{left: 0;}
.intro__line--4{right: -320px;}
.intro__line--5{right: -640px;}

.intro__container{
    min-height: 1032px;
    padding-top: 375px;
    padding-bottom: 320px;
    position: relative;
    z-index: 0;
}

.intro__title{
    margin-bottom: 52px;
    font-weight: 500;
    font-size: 24px;
    font-family: 'Montserrat', Myriad Pro, Tahoma, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.intro__title-accent{
    font-weight: bold;
    font-size: 416.66%;
    line-height: 1.5;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    text-transform: none;
    letter-spacing: initial;
    letter-spacing: 0;
}

.intro__author{
    width: 628px;
    font-size: 0;
    position: absolute;
    right: 31px;
    bottom: 0;
    z-index: -1;
}

.intro__author-avatar{
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.intro__author-description{
    margin-right: -59px;
    font-style: italic;
    font-size: 14px;
    line-height: 1.25;
    text-align: right;
    position: absolute;
    bottom: 52px;
    right: 100%;
    white-space: nowrap;
}

/* video-section
=====================*/

.video-section{
    display: block;
}

.video-section__title{
    background: #FF0000;
    margin-bottom: 40px;
    padding: 10px 17px;
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #fff;
}

.video{
    background: #C4C4C4;
    font-size: 0;
    position: relative;
    overflow: hidden;
    width : 100%;
    padding-bottom : 56.25%;
}

.video iframe,
.video video,
.video embed{
    position : absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
}

.video__btn{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    z-index: 1;
}

.video__btn:hover{
    text-decoration: none;
}

.video__btn.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.video__btn:after{
    content: '';
    border-style: solid;
    border-width: 43px 0 43px 76px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.video__btn:hover:after{border-left-color: #ff0000;}

.video__player{
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    opacity: 0;
    visibility: hidden;
}

.video__btn.is-hidden ~ .video__player{
    opacity: 1;
    visibility: visible;
}

/* advantages
=====================*/

.advantages{
    display: block;
}

.advantages__title{
    margin-bottom: 56px;
}

.advantages__list{
    margin: 0 -15px -42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.advantages__list-decor{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.advantages__list-decor:before,
.advantages__list-decor:after{
    background: #FF7C77;
    margin-top: -23px;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.advantages__list-decor:before{
    width: 2px;
    height: 70px;
}

.advantages__list-decor:after{
    width: 290px;
    height: 2px;
}

.advantages__list-col{
    max-width: 25%;
    margin-bottom: 42px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
}

.advantages__list-item{
    height: 100%;
    min-height: 310px;
}

.advantages-item{
    border: 5px solid #F2F2F2;
    padding: 45px 32px 24px;
    text-align: center;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
}

.advantages-item:hover{
    background: #F2F2F2;
}

.advantages-item__icon{
    width: 40px;
    height: 40px;
    margin-bottom: 41px;
    display: inline-block;
    vertical-align: top;
}

.advantages-item__text{
    font-size: 16px;
    line-height: 26px;
    line-height: 1.65;
}

/* duration
=====================*/

.duration{
    display: block;
}

.duration__title{
    margin-bottom: 20px;
}

.duration__list{
    margin: 0 -15px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.duration__list-col{
    max-width: 50%;
    margin-top: 60px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.duration__list-item{
    height: 100%;
}

.duration-item{
    background: #fff;
    padding: 70px 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.duration-item__picture{
    background: #FF7C77;
    width: 100px;
    height: 100px;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: -40px;
    right: 65px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.duration-item__picture:after{
    width: 0;
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.duration-item__icon{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}

.duration-item__number{
    margin: -24px 28px 0 0;
    font-weight: bold;
    font-size: 120px;
    line-height: normal;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #FF7C77;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.duration-item__title{
    margin: 0 0 16px;
    font-size: 36px;
    line-height: normal;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #FF7C77;
}

.duration-item__text{
    font-size: 20px;
    line-height: 1.2;
}

/* process
=====================*/

.process{
    display: block;
}

.process__container{
    margin-bottom: -120px;
    padding-bottom: 120px;
}

.process__title{
    margin: 0 0 68px;
}

.process__list{
    margin: 0 -15px 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.process__list-col{
    max-width: 33.34%;
    margin-bottom: 48px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.34%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.34%;
            flex: 0 0 33.34%;
}

.process__list-item{
    height: 100%;
    min-height: 139px;
}

.process-item{
    background: #fff;
    padding: 25px 27px;
    border: 3px solid #F2F2F2;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
    position: relative;
}

.process-item:hover{
    background: #F2F2F2;
}

.process-item__picture{
    background: #FF7C77;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-align: center;
    position: absolute;
    top: -31px;
    right: 27px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.process-item__picture:after{
    width: 0;
    height: 100%;
    content: '';
    display: inline-block;
    vertical-align: middle;
}

.process-item__icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.process-item__text{
    max-width: 262px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.65;
    position: relative;
}

.process-item__text:before{
    background: #FF7C77;
    width: 10px;
    height: 10px;
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.process__author{
    width: 481px;
    height: auto;
    margin-left: 76px;
    position: absolute;
    bottom: 0;
    left: 66%;
    pointer-events: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: -1;
}

/* reviews
=====================*/

.reviews{
    display: block;
}

.reviews__title{
    margin: 0 0 40px;
}

.reviews-slider{
    margin: 0 -15px;
}

.reviews-slider .slick-dots{
    margin-top: 108px;
}

.reviews-slider__col{
    padding: 0 15px;
    outline: none;
}

.reviews-slider-item{
    outline: none;
}

.reviews-slider-item__link{
    height: 253px;
    margin: 0 0 21px;
    display: block;
    font-size: 0;
    text-decoration: none;
    outline: none;
    overflow: hidden;
}

.reviews-slider-item__link:hover{
    text-decoration: none;
}

.reviews-slider-item__img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: -o-transform .4s;
    -moz-transition: transform .4s, -moz-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
}

.reviews-slider-item__link:hover .reviews-slider-item__img{
    -webkit-transform: scale(1.04);
       -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
         -o-transform: scale(1.04);
            transform: scale(1.04);
}

.reviews-slider-item__text{
    margin: 0 0 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.reviews-slider-item__text:after{
    background: #000;
    height: 1px;
    margin: 5px 0 0 20px;
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.reviews-slider-item__name{
    font-weight: bold;
    font-size: 24px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.reviews-slider-item__name::first-letter{color: #FF7C77;}

.reviews-slider-item__date{
    font-weight: 500;
    font-size: 14px;
    color: rgba(0,0,0,.4);
}

/* step
=====================*/

.step{
    display: block;
}

.step__title{
    margin: 0 0 40px;
}

.step__list{
    margin: 0 -15px 95px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.step__list-col{
    margin-bottom: 34px;
    padding: 0 15px;
}

.step__list-col---1,
.step__list-col---2,
.step__list-col---3{
    max-width: 33.33%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 33.33%;
            flex: 0 0 33.33%;
}

.step__list-item{
    height: 100%;
}

.step-item{
    background: #fff;
    padding: 42px 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: normal;
    position: relative;
}

.step-item__number{
    margin-right: 28px;
    font-weight: bold;
    font-size: 120px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #FF7C77;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

.step-item__icon{
    margin-right: 20px;
}

.step-item__title{
    font-weight: 500;
    font-size: 18px;
}

.step-item__accent{
    margin-top: -1px;
    font-size: 36px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
    color: #FF7C77;
}

.step-item__description{
    padding: 30px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.35;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
}

.steps__benefits{
    margin: 0 -15px 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.steps__benefits-col{
    max-width: 50%;
    margin-bottom: 30px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.benefits-item{
    background: #fff;
    min-height: 246px;
    padding: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.benefits-item:hover{
    background: #FF7C77;
    color: #fff;
}

.benefits-item__icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50px;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    fill: #FF7C77;
    -webkit-transition: fill .4s;
    -o-transition: fill .4s;
    -moz-transition: fill .4s;
    transition: fill .4s;
}

.benefits-item:hover .benefits-item__icon{
    fill: #fff;
}

.benefits-item__title{
    margin: -3px 0 14px;
    font-size: 24px;
    line-height: 1.35;
}

.benefits-item__text{
    font-size: 16px;
    line-height: 26px;
}

.benefits-item .color--accent{
    -webkit-transition: color .4s;
    -o-transition: color .4s;
    -moz-transition: color .4s;
    transition: color .4s;
}

.benefits-item:hover .color--accent{
    color: #fff;
}

.steps__benefits-item{
    height: 100%;
}

.steps__btn{
    margin: 0 auto;
    display: table;
}

/* knowledge
=====================*/

.knowledge{
    display: block;
}

.knowledge__title{
    margin: 0 0 57px;
}

.knowledge__list{
    margin: 0 -15px -30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.knowledge__list-col{
    margin-bottom: 30px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.knowledge__list-col--1,
.knowledge__list-col--2,
.knowledge__list-col--3{
    max-width: 33.33%;
    -webkit-flex-basis: 33.33%;
        -ms-flex-preferred-size: 33.33%;
            flex-basis: 33.33%;
}

.knowledge__list-col--4,
.knowledge__list-col--5{
    max-width: 50%;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
}

.knowledge__list-item{
    height: 100%;
    min-height: 139px;
}

.knowledge-item{
    padding: 50px;
    text-align: center;
    border: 3px solid #F2F2F2;
    -webkit-transition: background .4s;
    -o-transition: background .4s;
    -moz-transition: background .4s;
    transition: background .4s;
    position: relative;
}
.knowledge-item:hover{background: #F2F2F2;}

.knowledge-item__icon{
    width: 60px;
    height: 60px;
    margin: 0 auto 30px;
    display: block;
}

.knowledge-item__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}

/* about
=====================*/

.about{
    display: block;
}

.about__title{
    margin: 0 0 40px;
}

.about__list{
    margin: 0 -15px -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.about__list-col{
    max-width: 50%;
    margin-bottom: 20px;
    padding: 0 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
       -moz-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.about-item{
    padding: 20px 22px;
    border-left: 3px solid transparent;
}

.about-item--theme_white{
    background: #fff;
    color: #000;
    border-left-color: #FF7C77;
}

.about-item--theme_black{
    background: #000;
    color: #fff;
    border-left-color: #000;
}

.about-item__title{
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Playfair Display', Georgia, Tahoma, serif;
}

.about-item__text{
    font-size: 16px;
    line-height: 26px;
    line-height: 1.7;
}

.about__list-item{
    height: 100%;
}

/* footer
=====================*/

.appeal{
    display: block;
}

.appeal__inner{
    padding: 44px 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 0;
}

.appeal__inner:before,
.appeal__inner:after{
    width: 58%;
    height: 100%;
    content: '';
    position: absolute;
    border: solid #FF7C77;
    position: absolute;
    top: 0;
    -webkit-transition: width .4s;
    -o-transition: width .4s;
    -moz-transition: width .4s;
    transition: width .4s;
    pointer-events: none;
    z-index: -1;
}

.appeal__inner:before{
    border-width: 3px 0 0 3px;
    left: 0;
}

.appeal__inner:after{
    border-width: 0 3px 3px 0;
    right: 0;
}

.appeal:hover .appeal__inner:before,
.appeal:hover .appeal__inner:after{
    width: 100%;
}

.appeal__title{
    margin: 0;
    padding-right: 30px;
}

.appeal__btn{
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
}

/* footer
=====================*/

.footer{
    background: #000;
    padding: 20px 0;
    color: #fff;
}

.footer__container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.footer__copyright{
    padding-right: 30px;
    font-size: 18px;
}

.footer__year{
    font-size: 18px;
}


.youtube {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
    position : absolute;
    top : 0;
    left : 0;
    width: 100%;
    height: 100%;
}
.youtube .play {
    background: url('/static/images/youtube-play-btn.png') no-repeat; 
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}
